.movie-list-item {
    display: flex;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    font-size: 0.875rem;
}

.movie-list-item .details {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
}

.movie-list-item .poster {
    max-width: 130px;
}

.movie-list-item .poster div {
    margin: 0;
    padding-left: 0;
}

.movie-list-item .overview {
    display: none;
    max-width: 90%;
    max-height: 50px;
    margin-bottom: 35px;
    overflow: hidden;
}

.button {
    position: absolute;
    bottom: 0;
    right: 0;
}

@media screen and (min-width: 768px) {
    .movie-list-item .overview {
        display: block;
    }
}