.upcoming-movies {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1395px;
    padding: 0 35px;
    margin-bottom: 50px;
}

.upcoming-movies .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 25px;
    row-gap: 25px;
}

.upcoming-movies .list div {
    width: 100%;
    padding: 0;
}

.upcoming-movies .list img {
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header a {
    color: #f8f8f8;
}

@media screen and (min-width: 768px) {
    .upcoming-movies {
        padding: 0 100px;
    }
}

@media screen and (min-width: 1024px) {
    .upcoming-movies .list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}