.login {
    height: 24px;
    padding: 0 10px;
    color: #f8f8f8;
    font-size: 0.875rem;
    border: none;
    background-color: #6d42c7;
    border-radius: 12px;
    transition: background-color .2s ease-in-out;
    cursor: pointer;
}

.login:hover {
    background-color: #55349e;
}