.form-container {
    width: 60%;
    margin-top: 25px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form input {
    height: 30px;
    margin-bottom: 25px;
    padding: 0 4px;
}

.form label {
    margin-bottom: 10px;
}

.register {
    font-size: 0.875rem;
}

.register span {
    border-bottom: 1px solid #f8f8f8;
    cursor: pointer;
}

.login-button {
    width: 130px;
    margin-bottom: 25px;
}