.show-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12px 8px;
}

.show-item:nth-child(odd) {
    background-color: #222;
}

.show-item div {
    display: flex;
    flex-direction: column;
}

.show-item div:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.show-item button {
    margin-left: 25px;
}

.time {
    margin-right: 25px;
    font-size: 2.25rem;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .show-item {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        padding: 0 8px;
    }

    .show-item div { 
        flex-direction: row;
        align-items: center;
    }
}