.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
    background: linear-gradient(90deg, #0f1216 35%, #171b20 80%);
    border-bottom: 1px solid #222;
    z-index: 100;
}

.desktop-nav {
    display: none;
}

.container {
    display: flex;
    align-items: center;
}

.mobile-nav {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.user-icon {
    width: 24px;
    height: 24px;
}

.user-icon img {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 1024px) {
    .desktop-nav {
        display: flex;
    }

    .mobile-nav {
        display: none;
    }
}