.desktop-nav li {
    display: inline-block;
    margin-right: 25px;
}

.desktop-nav li:last-child {
    margin-right: 0;
}

.desktop-nav a {
    color: #f8f8f8;
}

.active {
    border-bottom: 2px solid #f8f8f8;
}