.desktop-nav li {
    display: inline-block;
    margin-right: 25px;
}

.desktop-nav li:last-child {
    margin-right: 0;
}

.desktop-nav a {
    font-size: 0.875rem;
    color: #f8f8f8;
    padding-bottom: 22px;
    text-transform: uppercase;
    font-weight: bold;
    transition: color .2s ease-in-out;
}

.desktop-nav a:hover {
    color: #6d42c7;
}

.desktop-nav a.active {
    border-bottom: 2px solid #6d42c7;
}