.mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 25px;
    background-color: #111;
    z-index: 100;
    animation: showMobileMenu .15s;
}

.mobile-nav a {
    font-weight: bold;
    font-size: 1.5rem;
}

ul {
    list-style: none;
}

.mobile-nav li {
    margin-bottom: 30px;
}

.mobile-nav li:last-child {
    margin-bottom: 0;
}

.mobile-nav a {
    color: #f8f8f8;
}

@keyframes showMobileMenu {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}