.movies {
    width: 100%;
    max-width: 950px;
}

.movies .container {
    width: 100%;
    padding: 0 25px;
    margin-bottom: 50px;
}

.movies h2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.movies ul {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
}

.movies ul li {
    margin-bottom: 25px;
}

.movies ul li:last-child {
    margin-bottom: 0;
}