.container {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    background-color: #000;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .3;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    width: 100%;
    text-align: center;
}

.poster {
    order: 1;
    max-width: 180px;
}

.details,
.poster {
    z-index: 10;
}

.details h2 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 2rem;
}

.info {
    order: 2;
    margin-top: 25px;
}

.button {
    margin-top: 60px;
}

@media screen and (min-width: 1024px) {
    .details {
        flex-direction: row;
        text-align: left;
        padding: 0 25px;
    }

    .info {
        order: 1;
        margin-top: 0;
        margin-right: 80px;
    }

    .poster {
        order: 2;
        max-width: 250px;
    }
}

@media screen and (min-width: 1200px) {
    .details {
        padding: 0;
    }
}