.overview-section {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #222;
    background-color: #f8f8f8;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    padding: 50px 25px;
}

.overview {
    order: 2;
    max-width: 90%;
}

.overview-details {
    display: flex;
    order: 1;
    max-width: 90%;
    margin-bottom: 10px;
}

.overview-details h3 {
    display: none;
}

.separator {
    margin: 0 10px;
}

.button {
    margin-top: 60px;
}

@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding: 50px 25px;
    }
    
    .overview {
        order: 1;
        max-width: 50%;
        margin-right: 60px;
    }
    
    .overview-details {
        display: block;
        order: 2;
        max-width: 50%;
    }

    .overview-details h3 {
        display: block;
    }

    .separator {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        padding: 50px 25px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        padding: 50px 0;
    }
}