* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: 'Montserrat', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  color: #f8f8f8;
  background-color: #0f1216;
  font-weight: 300;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.page-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 350px; /* Height of footer + 25px */
}

.no-scroll {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .page-wrapper {
    padding-bottom: 215px; /* Height of footer + 25px */
  }
}